<h1>Agenda de Contatos - Adicionar</h1>

<form method="post">
    Nome: <br/>
    <input type="text" name="nome"><br><br>

    Telefone: <br/>
    <input type="text" name="telefone"><br><br>

    <input type="submit" value="Enviar">
</form>