<h1>Agenda de Contatos</h1>

<a href="add">Adicionar Contato</a>

<ul>
<?php
    foreach ($lista as $item): ?>
        <li><?=$item['nome']?> - <?=$item['telefone']?></li>
    <?php endforeach ?>

</ul>
